<script type=text/template id="add-drink-template">
		<div id="add-drink" class="six columns alpha">	
			<input class="u-full-width" type="text" name="drinks">
		</div>
		<div class="six columns omega">
			<input class="u-full-width" type="text" name="abv">
		</div>
</script>