<div class="row twelve columns alpha" id="calculator">
	<form id="calculator-form" action="/rounds" enctype="text">
	<div class="row">
		<div class="twelve columns">
			<h4>CALCULATOR</h4>
		</div>
	</div>

<!-- SEX INPUT -->

	<div class="row">
		<div class="six columns alpha">
			<label class="label-body">MALE</label>
			<input class="u-full-width" type="radio" name="male">
		</div>	
		<div class="six columns omega">
			<label class="label-body">FEMALE</label>
			<input class="u-full-width" type="radio" name="female">
		</div>
	</div>	

<!-- LBS AND HOURS INPUT -->

	<div class="row">
		<div class="six columns">	
		<label for="lbs">WEIGHT</label>	
			<input class="u-full-width" type="password" placeholder="Lbs" name="lbs">
		</div>
		<div class="six columns">
			<label for="hours">HOURS</label>
			<input class="u-full-width" type="text" placeholder="2" name="hours">
		</div>
	</div>	


<!-- DRINKS AND ABV INPUT -->

	<div class="row">
		<div class="six columns">
			<label for="bev_oz">&numero; of DRINKS</label>
			<input class="u-full-width" type="text" placeholder="3" name="drinks">
		</div>
		<div class="six columns">
			<label for="ABV">ALCOHOL %</label>
			<input class="u-full-width" type="text" placeholder="5" name="abv">
		</div>
	</div>

	<!-- ADD DRINK INPUT -->

	<div id="add-drink"  class="row">
	<script type="text/template" id="add-drink-template">
			<div class="row">
				<div class="six columns">
  				<input class="u-full-width" type="text" name="drinks">
				</div>
					 <div class="six columns">
  				<input class="u-full-width" type="text" name="abv">
				</div>
			</div>
		</script>
	</div>

	<!-- ADD DRINK SUBMIT BUTTON-->
<form id="#thirsty" class="thirsty">
	<div class="row">
		<div class="twelve columns more-drinks">
			<input type="submit" id="add-drink-button" class="u-full-width add-drink-button" value="+ ADD DRINK">
		</div>
	</div>
</form>
			
<!-- FORM SUBMIT AND RESET BUTTONS -->

	<div class="row">
		<div class="six columns">
			 <input id="bac-submit" class="u-full-width" type="submit" value="CHEERS">
		</div>
		<div class="six columns">
			<input id="reset" type="reset" class="u-full-width" value="START OVER">
		</div>
	</div>	

<!-- BAC RESULT -->
			
			<div class="row">
				<div id="bac-display" class="twelve columns">
					&zwnj;
					<script type="text/template" id="bac-template">
  					<div class="five columns">
      				<h2><%%= bac %>% &#8776; BAC</h2>
 					 </div>
					</script>
				</div>
			</div>		
	</form>
</div>