<div class="row sixteen columns">
  <header class="navbar">
    <div id="chart-gauge" class="three columns omega chart-gauge">
      <%= render partial: "partials/meter" %>
    </div>
    <div class="four columns alpha" id="title">
      <h1>jfdksl;ajfdskl;</h1>
    </div>
    <div class="twelve columns omega" id="main-menu">
      <nav>
        <ul class="list-horizontal" id="main-list">
          <li><a href="#">asdf</a></li>
          <li><a href="#">safdsa</a></li>
          <li><a href="#">asfdsa</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>


  
          <!--
      Below we include the Login Button social plugin. This button uses
      the JavaScript SDK to present a graphical Login button that triggers
      the FB.login() function when clicked.
    -->
   
<!--       <div class="one column offset-by-three">
        <li class="navbar-item" id="fb-login">
          <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
          </fb:login-button>
        </li>
        <div class="row">
          <div class="five columns">
            <div id="status">
            </div>
          </div>
        </div>
      </div> -->

