<div class="row twelve columns">
  <header class="navbar">
    <div id="chart-gauge" class="three columns chart-gauge">
      <%= render partial: "partials/meter" %>
    </div>
    <div class="twelve columns alpha" id="title">
      <h1>Delicious Deathbeds</h1>
    </div>
    <div class="twelve columns omega" id="main-menu">
      <nav>
        <ul class="list-horizontal" id="main-list">
          <li><a href="#">RAMEN BUFFET</a></li>
          <li><a href="#">MARSHALLZ BLOG</a></li>
          <li><a href="#">MAXWELL'S</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>