
	<div class="row">
	 	<form id='beer-search' action='/beers' method='get'>
	 		<div class="twelve columns">
				<h2 class="u-full-width">INSTANT BEER</h2>
	 		</div>

	<!-- QUERY INPUT -->

		<div class="row">
			<div class="tweleve columns">
				<label for="hours">GRAB A QUICK BEER</label>
			<input class="u-full-width" placeholder="What can I get you?" type='text' name='query' id="search-bar">
		</div>
	</div>

	<!-- QUERY FORM SUBMIT -->

	  	<div class="row">
	  		<div class="tweleve columns">
	  			<input class="u-full-width" type='submit' id="submit-beer" value="GRAB THAT BEER">
	  		</div>
	  	</div>

		</form>
	</div>
