<h2>INSTANT BEER</h2>
 <form id='beer-search' action='/beers' method='get'>
 	<label for="hours">GRAB A QUICK BEER</label>
  	<input placeholder="What can I get you?" type='text' name='query' id="search-bar">
  	<input class="u-full-width" type='submit' value='GRAB THAT BEER' id="submit-beer">
</form>