<form method="post" enctype="text">
	<h2>CALCULATOR</h2>
		<div class="row">
			<div class="two columns">
				<input type="radio" name="sex">
				<span class="label-body">MALE</span>
			</div>
			
			<div class="two columns">
				<input class="u-full-width" type="radio" value="choice" name="sex">
				<span class="label-body">FEMALE</span>
			</div>
		</div>	

		<div class="row">
			<div class="five columns">	
			<label for="lbs">WEIGHT</label>	
				<input class="u-full-width" type="password" placeholder="Body Weight (lbs)" name="lbs">
			</div>
		</div>
	
		<div class="row">
			<div class="five columns">
				<label for="hours">HOURS</label>
				<input class="u-full-width" type="text" placeholder="Hours Since 1st Drink" name="hours">
			</div>
		</div>	

		<div class="row">
			<div class="five columns">
				<label for="bev_oz">BEERS</label>
				<input class="u-full-width" type="text" placeholder="Beers Consumed" name="bev_oz">
			</div>
		</div>

		<div class="row">
			<div class="five columns">
				<label for="ABV">ALCOHOL %</label>
				<input class="u-full-width" type="text" placeholder="Percent of Alcohol" name="abv">
			</div>
		</div>	
			
		<div class="row">
			<div class="two columns">
				 <input class="u-full-width" type="submit" value="SUBMIT">
			</div>
			<div class="two columns">
				<input class="u-full-width" type="reset" value="RESET">
			</div>
		</div>	
		
		<div class="row">
			<div class="five columns">
				<label for="ABV">RESULT</label>
				<input class="u-full-width" type="text" placeholder="Blood Alcohol Level" name="bac">
			</div>
		</div>		

</form>