<script type="text/template" id="featured-beer-template">
 
  <div class="row six columns alpha" id="featured-title">
  	<h4>FEATURED</h4> 
  	<div class="row twelve columns" id="featured-name">
			<h5><%%= beer.beer_name %></h5>
			<%%= brewery.brewery_name %>
		</div>
	</div>
  <div class="six columns omega" id="featured-label">
  	<a><img class="featured-img" src="<%%= beer.beer_label %>" ></a>
		<div class="row twelve columns" id="featured-info">
			<ul>
			  <li><%%= beer.beer_abv %>% ABV</li>
				<li><%%= beer.beer_style %></li>
			</ul>
 		</div>
	</div>
</script>