<script type="text/template" id="featured-beer-template">
 
  <div class="row twelve columns" id="featured-title">
  	<h4>FEATURED</h4> 
	</div>

	<div class="row twelve columns">
	  <div class="six columns alpha" id="featured-name">
			<ul>
				<li><strong><%%= beer.beer_name %></strong></li>
			  <li><%%= beer.beer_abv %>% ABV</li>
				<li><%%= beer.beer_style %></li>
			</ul>
	  </div>
	  <div class="six columns omega" id="featured-label">
	  	<a><img class="featured-img" src="<%%= beer.beer_label %>" ></a>
		</div>
	</div>
	
</script>