<script type="text/template" id="found-beer-template">
	<div id="floating-div" class="row twelve columns">
		<div class="twelve columns" id="found-beer-name">
			<h4><%%= beer_name %></h4>
		</div>
		<div class="row twelve columns">
			<div class="row six columns alpha">
			  <img id="beer-label" src="<%%= beer_label %>">
			</div>
			<div class="six columns omega">
				<ul>
				  <li id="selected-abv">ABV: <%%= beer_abv %>%</li>
				  <li><%%= beer_style %></li>
				</ul>
		  </div>
	  </div>
	  <div class="row twelve columns" id="select-abv">
			<input class="u-full-width" id="select-abv-button" type="submit" value="ADD TO CALCULATOR"></li>
    </div>
    <div class="row twelve columns beer-description">
		  <ul>
			  <li>
			    <%%= beer_description %></p>
		    </li>
	    </ul>
	   </div>
  </div>
</script>