<script type="text/template" id="found-beer-template">
<div class="six columns">
  <img id="beer-label" src="<%%= beer_label %>">
  <input id="select-abv" type="submit" value="ADD TO CALCULATOR">
  <ul>
    <li><%%= beer_name %></li>
    <li><%%= beer_style %></li>
    <li>ABV: <%%= beer_abv %>%</li>
    <li><%%= beer_description %></li>
  </ul>
</div>
</script>