  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item">
          <!-- <a href="#">BAC</a> -->
        </li>
       <li class="navbar-item">
          <!-- <a href="#">BAC</a> -->
        </li>
        <li class="navbar-item">
          <!-- <a href="#">BEER</a> -->
        </li>
        <li class="navbar-item">
          <!-- <a href="#">BREWERIES</a> -->
        </li>
      </ul>
    </div>
  </nav>