<div class="row twelve columns">
  <header class="navbar">
    <div class="one-third column chart-gauge" id="chart-gauge">
      
    </div>

    <div class="one-third column" id="title">
      <h2>Delicious Deathbeds</h2>
    </div>
      <div class="one-third column ">
      <%= image_tag "alc.png", size: "200x200", class: "alc-img" %>
      </div>

    <div class="twelve columns" id="main-menu">
      <nav>
        <ul class="list-horizontal" id="main-list">
          <li><a href="#">RAMEN BUFFET</a></li>
          <li><a href="#">MARSHALLZ BLOG</a></li>
          <li><a href="#">MAXWELL'S</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>