  <nav class="navbar">
    <div class="container">
       <div class="row">
      <ul class="navbar-list">
        <div class="five columns">
          <li class="navbar-item">
            <h1>jfdksl;ajfdskl;</h1>
          </li>
        </div>
        <div class="one column">
          <li class="navbar-item">
            asdf
          </li>
        </div>
        <div class="one column">
          <li class="navbar-item">
            safdsa
          </li>
        </div>
        <div class="one column">
          <li class="navbar-item">
           asfdsa
          </li>
        </div>
      
              <!--
          Below we include the Login Button social plugin. This button uses
          the JavaScript SDK to present a graphical Login button that triggers
          the FB.login() function when clicked.
        -->
       
          <div class="one column offset-by-three">
            <li class="navbar-item" id="fb-login">
              <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
              </fb:login-button>
            </li>
            <div class="row">
              <div class="five columns">
                <div id="status">
                </div>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </nav>