  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item">
                  <!--
          Below we include the Login Button social plugin. This button uses
          the JavaScript SDK to present a graphical Login button that triggers
          the FB.login() function when clicked.
        -->

        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>

        <div id="status">
        </div>
        </li>
        
       <li class="navbar-item">
          <!-- <a href="#">BAC</a> -->
        </li>
        <li class="navbar-item">
          <!-- <a href="#">BEER</a> -->
        </li>
        <li class="navbar-item">
          <!-- <a href="#">BREWERIES</a> -->
        </li>
      </ul>
    </div>
  </nav>