 <form id='beer-search' action='/beers' method='get'>
  <input placeholder="Want a specifc beer?" type='text' name='query' id="search-bar">
  <input type='submit' value='GRAB A BEER' id="submit-beer">
</form>