<div class="row twelve columns trending-beer" id="trending-beer" >
  <div class="twelve columns" id="trending-title">
    <h4>TRENDING</h4>
  </div>
  <div class="row twelve columns" id="trending-img">
      <%= image_tag "bottles.png", size: "100x100", class: "featured-label" %>
  </div>
<!-- TRENDING BEER -->
  <div class="trending-list" id="trending-list">
	</div>
</div>