<h2>TRENDING</h2>
<%= image_tag "bottles.png", size: "100x100", class: "featured-label" %>
  <ul>
    <% @top_beers.map do|item|%>
    
   <li>
   <a href="<%= item['brewery']['contact']['url'] %>"><%= item["beer"]["beer_name"] %></a>
   </li>
    <% end %>
  </ul>