<script type="text/template" id="trending-beer-template">
		<div class="six columns alpha" id="trending-beer-label">
	  	<a href="<%%= brewery.contact.url %>"><img class="trending-beer-img" src="<%%= beer.beer_label %>" ></a>
	  </div>
</script>