<!-- RUBY -->
<%= render partial: "partials/navbar" %>
<div class="row twelve columns clearfix" id="main-content">

  <div id="calculator" class="one-third column">
  
  </div>

<!-- RUBY -->
<div id="beer-search" class="one-third column">
  <%= render partial: "partials/search" %>

<!-- AJAX -->
<div class="row">
  <div id='found-beer'>  
    &zwnj;
  </div>
</div>

<!-- RUBY -->
</div>

<!-- BACKBONE -->
<div id="featured-beer" class="one-third column featured-beer clearfix">   
    
  <div class="row">
    <div id="trending-beer" class="twelve columns trending-beer">
      <div class="row twelve columns alpha">
        <div class="twelve columns" id="trending-title">
          <h4>TRENDING</h4>
            <%= image_tag "bottles.png", size: "100x100", class: "featured-label" %>
        </div>
        <div class="trending-list" id="trending-list">
          <ul>
          
          </ul>
        </div>
      </div>
    </div>
  </div>  
</div>  