
<%= render partial: "partials/navbar" %>

<div class="row sixteen columns clearfix">
  

      <div id="calculator" class="one-third column">
        <%= render partial: "partials/calculator" %>
          
          <div class="row">
            <div id="chart-gauge" class="tweleve columns chart-gauge">
              <%= render partial: "partials/meter" %>
            </div>
          </div>
      
      </div>



          <div id="beer-search" class="one-third column">
            <%= render partial: "partials/search" %>
            
            <div class="row">
              <div id='found-beer'>
                &zwnj;
              </div>
            </div>
          
          </div>
          

          
    <div id="featured-beer" class="one-third column featured-beer">
      
      <div class="row">
        <div id="trending-beer" class="twelve columns trending-beer">
          
        </div>
      
      </div>  
    </div>  


</div>





<script>
  
$(function(){


  $('#beer-search').on('submit', function(e){
    e.preventDefault();
    beerQuery = $('#search-bar').val();
    $.ajax({
      url: "/beers",
      data: {
        query: beerQuery
      },
      success: function(data) {
        
        var beer = new Beer(data);
        var view = new BeerView({model: beer});
        $('#found-beer').html(view.render().$el);
        $('#found-beer').addClass('found-beer clearfix');          

      }
    });
  });

    
  $('#calculator-form').on('submit #bac-submit', function(e){
      e.preventDefault();
      $.ajax({
          url: "/rounds",
          method: 'POST',
          data: { round: {
              sex: $(this).find("input[name='name']").val(),
              lbs: $(this).find("input[name='lbs']").val(),
              hours: $(this).find("input[name='hours']").val(),
              abv: $(this).find("input[name='abv']").val(),
              drinks: $(this).find("input[name='drinks']").val()
            },
          },
        success: function(data) {
          console.log(data)
          var round = new Round(data);
          var roundView  = new RoundView({ model: round });
          $('#bac-display').html(roundView.render().$el);

        }
      });
  });



});

</script>