<div class="container">
  <div class="column" id="beer-search">
    <form action='/beers/beer' method='get'>
      <input type='text' name='query'>
      <input type='submit' value='START'>
    </form>
  </div>
  <div class="chart-gauge">
  </div>
</div>
  
<%= render partial: "meter" %>