<div class="beer-holder">
	<div class="choosen-beer">
		<img src="<%= @label %>">
			<%= @name.upcase %> is <%= @abv %>% Alcohol By Volume
		</div>

	<form method="get" action="/">
		<input type="submit" value="Back">
	</form>
</div>

