
	<div id="beer-label">
		<img src="<%= @label %>">
	</div>
	<div id="beer-info">	
		<ul>
			<li>BEER: <%= @name.upcase %><li>
			<li>ABV: <%= @abv %>%</li>
			<li>BLURB: <%= @description %></li>
		</ul>
	</div>
		<a class="button" href="/">BACK</a>
</div>