body {
	margin: 30px;
	background-image: url('/assets/glass.jpg');
  background-repeat: no-repeat;
  background-position: fixed;
  width: 100%;
  height: 100%;
}


.found-beer {
	width: 345px;
	margin-left: -70px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
 	border: 1px solid #aaa;
 	color: #444;
 	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 4px rgba(0,0,0,.2);
	background-color: white;
}

#found-beer img {
	border: 2px solid #aaa;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

#featured-beer {
	margin-bottom: 20px;
}

.navbar {
	height: 70px;
}

#chart-gauge {
	margin-left: -12px;
}

#trending-beer {
	margin-left: -0.5px;
}

.chart-color1 {
  fill: yellow;
}

.chart-color2 {
  fill: darkorange;
}

.chart-color3 {
  fill: red;
 }
.needle {
	fill: #464A4F;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}