body {
	background-image: url('/assets/glass-960.jpg');
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;
  background-size: 100%;
  
}

li {
	list-style-type: none;
}

.found-beer {
 	border: 1px solid #aaa;
	background-color: white;
}

#found-beer img {
	border: 2px solid #aaa;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}


#select-abv {
	float: right;
}

#fb-login {
	float: right;
}

#featured-beer {
	
}
.list-horizontal {
   margin: 0;
   list-style-type: none;
}
.list-horizontal li {
   margin-right: 1em;
   display: inline;
}

#main-header nav {
   padding: 1em;
}
#main-list li a {
   text-decoration: none;
}
#main-menu {
   text-align: right;
}


.navbar {
	height: 60px;
	
	border-bottom: 1px solid black;
}

#status {
	float: right;
}

#chart-gauge {
	
}

#trending-beer {
	
}

#trending-title {
	
}

.featured-label {
	
}

#trending-list {
	
}

.trending-button {

}

.chart-color1 {
  fill: yellow;
}

.chart-color2 {
  fill: darkorange;
}

.chart-color3 {
  fill: red;
 }
.needle {
	fill: #464A4F;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}