body {
	background-image: url('/assets/glass-960.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

li {
	list-style-type: none;
}

.beer-description {
	background-color: white;
}

#featured-beer {
	text-align: center;
	margin-bottom: -40px;
}

#featured-name {
	margin-top: -10px;
}

#featured-spec {
	text-align: right;
}

#trending-label {
	margin-top: -20px;
	padding-left: 15px;
}

#trending-list {
	padding-left: 30px;
	padding-right: 10px;
}


#search-bar {
	width: 100%;
}

.row h4 {
	text-align: center;
}

.found-beer {	
	text-align: center;
}

#found-beer-name {
	text-align: center;	
}

#floating-div {
	margin-top: -30px;
	padding: 15px;
	border: 1px solid lightgrey;
	text-align: center;
	position: center;
	background-color: white;
}
.one-third .column .featured-beer h4 {
	text-align: center;
}

#select-abv {
	float: right;
}

#more-drinks {
	text-align: center;
}


#fb-login {
	float: right;
}

.list-horizontal {
  margin: 0;
  margin-top: -20px;
  list-style-type: none;
}
.list-horizontal li {
  margin-right: 1em;
  display: inline;
}

#main-header nav {
  padding: 1em;
}

#main-list li a {
  text-decoration: none;
}

#main-menu {
	margin-top: -30px;
  text-align: right;
}
.navbar {
	height: 150px;
	text-align: center;
	border-bottom: 1px solid black;
}

#title {
	padding-top: 75px;
}

.squeeze {
	line-height: 10%;
}

#status {
	float: right;
}

#chart-gauge {
	padding-top: 9px;
	padding-left: 9px;
	margin-bottom: -220px;	
}

#main-content {
	padding-top: -100px;
}

.chart-color1 {
  fill: yellow;
}

.chart-color2 {
  fill: darkorange;
}

.chart-color3 {
  fill: red;
 }
.needle {
	fill: #464A4F;
}

.cf:before,
/*.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}*/