<!DOCTYPE html>
<html>
<head>
  <title>BAC ABV</title>

	    <script type="text/template" id="beer-results-template">
      <div class="six columns">
        <img src="<%%= beer_label %>">
        <ul>
          <li><%%= beer_name %></li>
          <li><%%= beer_abv %></li>
          <li><%%= beer_description %></li>
        </ul>
      </div>
   </script>
 


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

		<%= yield %>

	</body>
</html>
